
body {
  font-family: "Cascadia Code";
  background-color: rgb(25, 53, 73);
}

.feature_desc {
  display: block;
}
.feature_desc:before {
  content: "";
  display: block;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

#name {
  font-size: 2rem;
  color:rgb(255,198,0);
}

#main-view {
  /* flex: auto; */
  border-width:1;
  border-color: rgb(255,198,0);
  border-style: solid;
  border-radius: 10px;
  width: clamp(100px, 500px, 500px);
  height: 20%;
  text-wrap: pretty;
  padding: clamp(1px, 20px, 20px);;
  padding-bottom: 40px;
  color: aliceblue;
}

.detailsBlock {
  display: block;
}